img {
    display: inline-block;
}
#App .ant-card-body{
    position: absolute !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    font-size: 30px;
    color: white;
}